@(capForm: Form[Capabilities])

@import helper._
@import bootstrap._

@main {

<h1>Создание нового объекта</h1>

@form(routes.CapabilitiesController.save()) {

<fieldset>
    @CSRF.formField
    @text(capForm("title"), '_label -> "Название", '_help -> "")
    @text(capForm("title2"), '_label -> "Доп. название", '_help -> "")
    @bootstrap.textarea(capForm("description"), '_label -> "Описание", '_help -> "", 'rows -> 10)
    @text(capForm("classli"), '_label -> "Положение(слева/справа)", '_help -> "")
    @text(capForm("imageUrl"), '_label -> "Ссылка на картинку", '_help -> "")
</fieldset>

<div class="actions">
    <input type="submit" value="Создать" class="btn btn-primary"> 
    <a href="@routes.CapabilitiesController.list()" class="btn btn-default">Отменить</a>
</div>
}
}
