@(regForm: Form[Register])

@import helper._
@import bootstrap._
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Регистрация</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/agency.min.css" rel="stylesheet">
  </head>


  <body id="page-top">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
                <div class="container">
                  <a class="navbar-brand js-scroll-trigger" href="@routes.HomeController.index">Future Guitar Player</a>
              </nav>

            <section id="contact">
                <div class="container">
                    <div class="row">
                      <div class="col-lg-12 text-center">
                          <h2 class="section-heading">Контакты</h2>
                          <h3 class="section-subheading text-muted"></h3>
                        </div>
                      </div>
                      @form(routes.AuthController.register()) {
            
                        @text(regForm("email"), '_label -> "Email", '_help -> "")
                        @password(regForm("password"), '_label -> "Password", '_help -> "")
                        @text(regForm("name"), '_label -> "Username", '_help -> "")
                        @text(regForm("phone"), '_label -> "Phone", '_help -> "")
                    
                        <div class="actions">
                            <button class="btn btn-xl js-scroll-trigger">Sign up</button>
                        </div>
                    }
                          <!--<form id="contactForm" name="sentMessage" novalidate>
                            <div>
                                    <div class="form-group">
                                  <input class="form-control" id="name" type="text" placeholder="Your Name *" required data-validation-required-message="Please enter your name.">
                                  <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                  <input class="form-control" id="email" type="email" placeholder="Your Email *" required data-validation-required-message="Please enter your email address.">
                                  <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                  <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" required data-validation-required-message="Please enter your phone number.">
                                  <p class="help-block text-danger"></p>
                                </div>
                            
                             
                            
                              <div class="clearfix"></div>
                              <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <a class="btn btn-xl js-scroll-trigger" href="index.html">Sign up</a>
                                <a class="btn btn-xl js-scroll-trigger" href="index.html">Log in</a>
                              </div>
                            </div>
                          </form>-->
                        </div>
                      </div>
                    </div>
                  </section>
              
                  <!-- Footer -->
                  <footer>
                    <div class="container">
                      <div class="row">
                        <div class="col-md-4">
                          <span class="copyright"></span>
                        </div>
                        <div class="col-md-4">
                          <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                              <a href="#">
                                <i class="fa fa-twitter"></i>
                              </a>
                            </li>
                            <li class="list-inline-item">
                              <a href="#">
                                <i class="fa fa-facebook"></i>
                              </a>
                            </li>
                            <li class="list-inline-item">
                              <a href="#">
                                <i class="fa fa-linkedin"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                       
                      </div>
                    </div>
                  </footer>
      </body>
  </html>
